.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}
  
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes spin {
to { transform: rotate(360deg); }
}